<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="section">
  <div class="header">
    <h1>Awesome Gallery</h1>
    <div class="form">
      <input type="text" [formControl]="term" placeholder="Search at Unsplash" />
      <input type="text" [formControl]="apiKey" placeholder="Pixels API key" />
    </div>
  </div>

  <div
    class="grid"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <div *ngFor="let item of items$ | async" class="item">
      <video muted preload="none" [poster]="item.image" controls>
        <source [src]="getVideoUrl(item, 'hd')" type="video/mp4">
      </video>
    </div>
  </div>
</section>
